<mat-nav-list>
    <a mat-list-item routerLink="/Adopt-Kittens" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Adopt Kittens</span>
    </a>
    <a mat-list-item routerLink="/Kitty-Stories" (click)="onSidenavClose()">
        <mat-icon>book</mat-icon> <span class="nav-caption">Kitty Stories</span>   
    </a>
    <a mat-list-item routerLink="/About-Us" (click)="onSidenavClose()">
        <mat-icon>info</mat-icon><span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item routerLink="/Blog" (click)="onSidenavClose()">
        <mat-icon>speaker_notes</mat-icon><span class="nav-caption">Blog</span>
    </a>
    <a mat-list-item routerLink="/Contact" (click)="onSidenavClose()">
        <mat-icon>mail</mat-icon><span class="nav-caption">Contact</span>
    </a>
</mat-nav-list>