a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button:hover, a:hover, a:active{
    color: rgb(231, 109, 109);
}
.navigation-items{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.spacer{
    flex: 1 1 auto;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}